/* Container de cada sessão */
.grid-produtos {
    display: grid;
    /* Cria colunas de no mínimo 250px, preenchendo o espaço disponível */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.card-produto {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background: #fff;
}

.card-produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    border-left: 5px solid var(--cor-principal); /* Cor do WhatsApp */
    padding-left: 10px;
    margin-top: 40px;
    text-transform: capitalize;
}

#wb-btn {
    background-color: green;
    padding: 1em 1.2em;
    border: none;
    color: white;
    font-family: bold;
    font-size: 1em;
}